.homepage {
  display: flex;
  flex-direction: row;
  z-index: 1;
  height: 100%; 
  height: var(--maxH);
  width: 100%;
  padding: 0;
  margin: 0;
}
 .left {
  flex: 20%;
}

.center {
  background-color: whitesmoke;
  flex: 40%;
}

 .right {
  flex: 30%;
}

