.modelsPage {
    height: var(--maxH);
    width: 100vw;
    background-color: red;
}


.modelsPage > .cont {
    display: flex;
    flex-direction: row;
    z-index: 1;
    margin: 0;
    padding: 0;
    height: 100%; 
}

.cont > .left {
    background-color: red;
    flex: 30%;
}

.cont > .center {
    background-color: black;
    flex: 70%;
}
  
  