.container {
    height: auto;
  }
  
  .gap {
    height: 25px;
    background-color: white;
    width: 100%;
  }

  .row {
    height: 100%;
  }
  
  .left-container {
    height: auto;
    overflow-y: auto;
    background-color: #198754;
  }
  
  .right-container {
    height: auto;
    overflow-y: auto;
  }

.name{
  padding-left: 20px;
  padding-top: 20px;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.picture{
  text-align: center;
  padding-top: 50px;
}
