.card-holder-container {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    padding: 10px 0;
  }
  
  .scroll-left,
  .scroll-right {
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
    border: none;
    outline: none;
  }
  
  .scroll-left:hover,
  .scroll-right:hover {
    background-color: rgba(255, 255, 255, 0.7); 
  }
  
  .scroll-left {
    margin-right: 10px;
    left: 0;
  }
  
  .scroll-right {
    margin-left: 10px;
    right: 0;
  }
  

  .card-holder {
    display: flex;
  }
  
  .card {
    background-color: white;
    width:400px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px; /* Adjust spacing between cards */
    flex: 0 0 auto;
  }
  
  .card-image {
    width: 150px; /* Adjust the size of the image */
    height: 150px; /* Adjust the size of the image */
    object-fit: cover;
  }
  
  .card-details {
    padding: 10px;
  }
  
  .card-title {
    font-size: 16px;
    margin: 0 0 5px 0;
  }
  
  .card-company {
    font-size: 14px;
    margin: 0 0 5px 0;
  }
  
  .card-rating {
    font-size: 14px;
    margin: 0 0 5px 0;
  }
  
  .rating-stars {
    color: #FFD700; /* Gold color for stars */
  }
  
  .card-description {
    font-size: 12px;
    color: #666;
    margin: 0;
  }