.content {
    background-color: whitesmoke;
    padding: 20px 0 20px 20px;
    height: 100%;
}
.leftcontainer{
    height: 'calc(100vh - 56px - 80px)';
}

.header {
    background-color: whitesmoke;
    height: 50px;
}

.dropdown{
    background-color: burlywood;
    margin-top: 20px;
    margin-left: 20px;
    font-size: large;
}

.dropdown:hover {
    background-color: wheat;
    cursor: pointer;
}


.content > span {
    display: block;
}

.username {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}

.left_options {
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 2px;
    font-weight: 400;
    color: black;
    cursor: pointer;
}

.left_options:hover {
    text-decoration: underline;
}

