.list {
    background-color: white;
    width: 100%;
    padding: 20px 0 20px 20px;
    height: 50px;
    position: relative;
}

.list > ul {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    margin: 0;
}

.list > ul > li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    background-color: burlywood;
    border-radius: 5px;
}
.list > ul > li:hover {
    background-color: wheat;
    cursor: pointer;
}
