.spotlight{
    height: 'calc(100vh - 56px - 80px)' 
}

.heading {
    background-color: #198754;
    width: 100%;
    padding: 20px 0 20px 20px;
    height: auto;
    color: white;
}

.spotlightcontainer{
    padding: 20px; 
    background-color: white;
    height: auto;
    width: '100%';
}

